# dependencies
node_modules
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

# misc
.DS_Store

# local env files
.env.local
.env.*.local
.envrc

# Logs
logs
*.log

# Caches
*.tsbuildinfo
.eslintcache
.node_repl_history
.yarn-integrity

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Dist
dist